*{
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
	color: black;
}
body{
	font-family: arial;
	display: block;
}
html{
	background-image: url(./img/back.jpg);
}

/* ---------------- formataçao do MENU ------------------------------------------*/

nav#menu_lateral ul {
	list-style: none;
	top: 80px;
	position: absolute;
	width: 100%;

}
nav#menu_lateral li {
	text-transform: uppercase;
}

label#menu img{
	width: 50px;
}

input[type="checkbox"] {
	display: none;
}
input[type="checkbox"]:checked ~ nav#menu_lateral {
	transform: translateX(400px);
}
nav#menu_lateral{
	background-color: rgba(16,16,16,.5);
	width: 210px;
	height: 100%;
	left: -400px;
	position: absolute;
	transition: all .5s ;
	padding-left: 20px;
}

nav#menu_lateral a {
	display: block;
	padding: 20px 5px; 
	color: white;
}

nav#menu_lateral a:hover {
	background-color: #44bc44;
	color: black;
	position: relative;
}

label#menu {
	padding: 20px;
	position: absolute;
	z-index: 1;
}
/* ----------------------------cabeçalho---------------------------------------*/

header#cabecalho{
	box-shadow: 3px #dddddd;
	background-color: rgb(49,175,14);
	height: 100px;
	width: 100%;
	display: flex;
}
header#cabecalho img {
	width: 130px;
}
form#pesquisa {
	bottom: 100px; 
}
input.busca {
	height: 50px;
	margin-top: 25px;
}
img.lupa{
	width: 40px !important;
	height: 40px;
	margin-left: 10px;
}

.header-image-col {
	width: 20%;
	padding-left: 30px;
}
/* ----------------------------rodape---------------------------------------*/
footer{
	clear: both;
	height: 160px;
	background-color: rgb(49,175,14);
	width: 100%;
}
footer p {
	text-align: center;
}
/* ----------------------------corpo---------------------------------------*/

section#corpo {
	background-color: white;

}
div#corpo {

	width: 800px;
	height: 100%;
	padding: 50px;
	padding-left: 25%;
}

div#home {
	width: 1500px;
	height: 100%;
	padding: 50px;
	padding-left: 20%;
}

section#corpo p {
	text-indent: 20px;
	padding: 20px;
	text-align: justify;
}

.no-padding {
	padding: 0px !important;
	text-indent: 0px !important;
	text-align: left !important;
}

.shopping-button {
	float: right;
	background-color: #e21a1a !important;
	border-color: transparent !important;
	width: 120px;
}


